
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>
@*AGREGAMOS ESTE CSS PARA LA PAGINACION *@
<link href="~/Content/datatables.css" rel="stylesheet" />
@*AGREGAMOS ESTE CSS PARA SEÑALAR LOS DATOS QUE SON OBLIGATORIOS*@
<link href="~/Content/Obligatorio.css" rel="stylesheet" />
@*AGREGAMOS ESTE CSS PARA EL MANEJO DE LOS CONTROLES DE FECHA *@
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
@*AGREGAMOS ESTE CSS PARA EL DISEÑO *@
<link href="~/Content/adminlte.min.css" rel="stylesheet" />
@*AGREGAMOS ESTE CSS PARA EL MODAL *@
<link href="~/Content/bootstrap.css" rel="stylesheet" />


<li>
    <label>Ingrese Apellido a Buscar...:</label>
    <input type="text" id="txtbuscar" />
</li>

<li>
    <label>Seleccione el Cargo a Buscar...: </label><select id="cbotipousuario"></select>
    <input type="button" id="btnlimpiar" value="Limpiar" class="btn btn-primary" />
</li>

<div id="tabla"></div>

@*ASIGNAMOS LA FUNCION onclick="AbrirFormulario(0)" PORQUE CUANDO ES NUEVO NO DEBE BUSCAR NADA*@
<button type="button" onclick="AbrirFormulario(0)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>
@Html.ActionLink("Volver", "Index", "PaginaPrincipal")

<!-- Modal -->
<!-- AGREGO EL TABINDEX="-1" PARA QUE SE PUEDA CERRAR CON ESC -->
<!-- ESTA SERIA TODA LA PANTALLA COMPLETA CON FONDO NEGRO -->
<div id="myModal" class="modal" role="dialog" tabindex="-1">
    <!-- ESTA SERIA TODA LA PANTALLA QUE VA CON EL FONDO BLANCO AGREGAMOS style="width:1250px;" PARA QUE SE MAS ANCHA-->
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <!-- ESTA SERIA LA PANTALLA QUE TIENE TODO EL CONTENIDO DE LOS CONTROLES -->
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title">Modulo Usuarios</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @*SE AGREGA EL TABLE RESPONSIVE PARA DISPOSITIVOS MOVILES*@
            <div class="modal-body">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Datos Usuario</font></font></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" id="txtidusuario" class="form-control limpia col-sm-5" placeholder="Id Usuario" disabled="">

                                    <input type="text" id="txtapellido" class="form-control limpia" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" placeholder="Apellido" />
                                    <input type="text" id="txtnombre" class="form-control limpia " onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" placeholder="Nombres" />
                                    <div class="input-group">
                                        <select id="cbotipousuariomodal" class="limpia col-sm-4"> </select>
                                    </div>
                                    <input type="text" id="txtnombreusuario" class="form-control limpia" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" placeholder="Nombre de Usuario" />
                                    <div class="input-group">
                                        <input type="password" id="txtcontraseña" class="form-control limpia " onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" placeholder="Contraseña" />

                                        <input type="password" id="txtcontraseñaconfirma" class="form-control limpia " onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" placeholder="Confirmar Contraseña" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*AGREGAMOS EL EVENTO ONCLICK Agregar(), cuando se ejecute va al SCRIPT*@
                    <button type="button" onclick="Agregar()" class="btn btn-primary">Guardar</button>
                    <button type="button" id="btncancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @*AGREGAMOS ESTE JS PARA EL MODAL *@
    <script src="~/Scripts/bootstrap.js"></script>

    @*AGREGAMOS ESTE SCRIPT PARA LA PAGINACION*@
    <script src="~/Scripts/adminlte.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    @*AGREGAMOS ESTE SCRIPT PARA EL MANEJO DEL CONTROL DE FECHAS JQUERY-UI*@
    <script src="~/Scripts/datatables.min.js"></script>

    @*AGREGAMOS ESTE SCRIPT PARA EL MANEJO DEL CONTROL DE FECHAS JQUERY-UI*@
    <script src="~/Scripts/jquery-ui.min.js"></script>

    @*AGREGAMOS ESTE SCRIPT PARA LA GENERACION DE LOS DATOS DEL ALUMNO*@
    <script src="~/Scripts/Usuarios.js"></script>
}